<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!-- Controls console logging -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %-4thread %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Controls file logging -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <staticLogFileName value="false" />
      <file value="logs/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy_MM_dd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-4thread %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
    <!-- See Logger Hierarchy: http://logging.apache.org/log4net/release/manual/introduction.html -->
    <root>
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>